# Virtual Environment
myvenv/
.venv/
.pip-tmp/

# Python
__pycache__/
*.pyc
*.pyo

# Pytest
.pytest_cache/

# IDE
.vscode/

# Environment
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

#chroma db
vector_db/
data/conversations.sqlite3
data/conversations.sqlite3-shm
data/conversations.sqlite3-wal
data/research_inputs.json
